$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Archivo Narrow', sans-serif;

$colors: (
    primary: #F4F3EE,
    primary2: #463F3A,
    primary3: #8D8D8D,
    pink-color: #C32C72,
    body: #E5E5E5,
);